extends layouts/login-layout
block content
    .loginContainer
        h1 Register
        p.errorMessage #{errorMessage}
        form#regform(method = "post", onsubmit="event.preventDefault(); Pconfirmation();" )
            input(type="text", name="firstname", placeholder="FirstName", value = firstname, required="")
            input(type="text", name="lastname", placeholder="LastName", value = lastname, required="")
            input(type="text", name="newusername", placeholder="New Username", value = newusername, required="")
            input(type="email", name="email", placeholder="New Email", value = email, required="")
    
            input#password(type="password", name="password", placeholder="Passcode", required="")
            input#conpassword(type="password", name="conpassword", placeholder="Confirm Passcode", required="")
            input(type="submit", value="submit")
        a(href = "/login") Already have an Account? Login here.
    script.
        var passcode = document.getElementById("password");
        var conpasscode = document.getElementById("conpassword");
        var form = document.getElementById("regform");

        function Pconfirmation(){
        if(passcode.value != conpasscode.value){
        alert("Password doesn't match. Try again.");
        }
        else{
        form.submit();
        }
        }
